.header {
    background: var(--blue-900);  
    display: flex;
    justify-content: center;  
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0 1.5rem;
}

.wrapper {
    max-width: 960px;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
}

.menu img {
    height: 4rem;
}

.menu .burgerButton, .menu .responsiveMenuContainer, .menu .responsiveMenu {
    display: none;
}

@media (max-width: 768px) {
    .menu .burgerButton {
        display: block;
        color: var(--white);
        cursor: pointer;
    }  
    .menu .responsiveMenuContainer {
        display: block;
    }
    .menu .responsiveMenuContainer {
        position: relative;
    }
    .menu .responsiveMenu {
        color: black;
        background-color: var(--white);
        border: 1px solid #ccc;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
        position: absolute;
        top: 115%;
        z-index: 1;
        right: 0;
        display: flex;
        flex-direction: column;
    }    
    .menu .responsiveMenu .navbarItem{
        color: black;
        padding: 0.4rem;
        width: 100%;
    }    
    .menu .responsiveMenu .navbarItem:hover{
        background: var(--blue-900);
        color: var(--white);
    }    
    .menu .desktopMenu {
        display: none;
    }  
}

.menu .navbarItem {
    color: white;
    text-decoration: none;
}

.menu .navbarItem:not(:last-child) {
    margin-right: 1rem;
}

.divider {
    border: none;
    background: #013F6D;
    height: .1rem;
}

.pageTitle {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.pageTitle h1 {
    font-style: italic;
    font-size: 1rem;
    font-weight: normal;
    color: var(--white)
}